.Wdate{
	border:#999 1px solid;
	padding-left: 0px !important;
	text-align:center !important;
    vertical-align: middle;
	background:#fff url(datePicker.gif) no-repeat right;
}
.Wdate::-ms-clear{display:none;}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}